body {
  margin: 0;
  padding: 0;
}

.app {
  display:flex;
  justify-content: space-around;
  flex-flow: column;
  align-items: center;
  height: 100vh;
  background-color: rgb(148, 19, 212);
  font-family: 'Quicksand', sans-serif;
}
.answer{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(28, 139, 28);
  border:black solid 3px;
  box-shadow: 5px 10px black;
  width:225px;
  height:75px;
  font-size:30px;
}
.answer:hover{
  background-color: rgb(28, 199, 33)
  
}
.answer:active{
  transform: translateY(4px);
  box-shadow: 2px 7px black;
}
.question{
  display:flex;
  justify-content: space-around;
  flex-flow: column;
  align-items: center;
  width:75%;
  height: 30%;
  background-color:rgb(28, 139, 28);
  box-shadow: 5px 10px black;
}
.question, h1{
  color:rgb(43, 1, 65);
}
.ansHolder{
  display: flex;
  
  width: 50%;
  height: 50%;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap row;
}
